<h1>University application form</h1>

<div>
  <p>You are applying to enrol on <%= @enrolment_request.degree.title %> (<%= @enrolment_request.degree.code %>)</p>
  <%= form_tag do %>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @enrolment_request.learner.first_name %>

    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @enrolment_request.learner.last_name %>

    <%= label_tag :email %>
    <%= text_field_tag :email, @enrolment_request.learner.email %>
    <%= hidden_field_tag :token, @enrolment_request.token %>
    <%= submit_tag 'Apply' %>
  <% end %>
</div>
