<table>
  <tr>
    <td>ID</td>
    <td>Learner</td>
    <td>Status</td>
    <td>Degree</td>
    <td>Actions</td>
  </tr>
  <% @enrolment_requests.each do |enrolment_request| %>
  <tr>
    <td>
      <%= enrolment_request.id %>
    </td>
    <td>
      <%= "#{enrolment_request.learner.first_name} #{enrolment_request.learner.last_name}" %>
    </td>
    <td>
      <%= enrolment_request.status %>
    </td>
    <td>
      <%= enrolment_request.degree.title %>
    </td>
    <td>
      <%= link_to 'Confirm', admin_enrolment_request_path(enrolment_request) %>
    </td>
  </tr>
  <% end %>
</table>
