/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 60%;
  margin: 0 auto;
  background-color: #f7f7f7;
  font-family: Arial;
}

input[type=text], label {
  display: block;
  margin-bottom: 0.6em;
  width: 20em;
}

label {
  font-weight: bold;
}

input[type=submit] {
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}
td {
  padding: 0.5em;
}
th td {
  font-weight: bold;
}
table {
  border-collapse: collapse;
}
